doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title="Flatstack Test Task"
        link(href="css/style.min.css", type="text/css", rel="stylesheet")
    body
        header.site-header
            .header-bg
            nav.header-nav
                .container-fluid
                    ul.menu
                        li.menu-item
                            span.menu-link-active Home
                        li.menu-item
                            a.menu-link(href="#") About
                        li.menu-item
                            a.menu-link(href="#") Work
                        li.menu-item
                            a.menu-link(href="#") Blog
                        li.menu-item
                            a.menu-link(href="#") Contact
            .container
                .header-hello
                    p.hidden-xs Hi&nbsp;there! We&nbsp;are the new kids on&nbsp;the block<br> and we&nbsp;build awesome websites and mobile apps.
                    a.button(href="#") Work with&nbsp;us
        section.section-services
            .container
                h2.section-heading Services we&nbsp;provide
                .section-body
                    p We&nbsp;are working with both individuals and businesses from all over the globe<br> to&nbsp;create awesome websites and applications.
                .row.services
                    .col-xs-12.col-sm-6.col-md-3.service
                        .icon-wrapper
                            img.icon.icon-branding(src="img/services_branding.png" width="124" height="121" alt="Branding")
                        .title Branding
                        p.info Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                    .col-xs-12.col-sm-6.col-md-3.service
                        .icon-wrapper
                            img.icon.icon-design(src="img/services_design.png" width="74" height="123" alt="Design")
                        .title Design
                        .info Sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem
                    .col-xs-12.col-sm-6.col-md-3.service
                        .icon-wrapper
                            img.icon.icon-development(src="img/services_development.png" width="159" height="122" alt="Development")
                        .title Development
                        .info At&nbsp;vero eos et&nbsp;accusamus et&nbsp;iusto odio dignissimos qui blanditiis praesentium.
                    .col-xs-12.col-sm-6.col-md-3.service
                        .icon-wrapper
                            img.icon.icon-science(src="img/services_rocket_science.png" width="91" height="138" alt="Rocket Science")
                        .title Rocket Science
                        .info Et&nbsp;harum quidem rerum est et&nbsp;expedita distinctio. Nam libero tempore.
        section.section-team
            .container
                h2.section-heading Meet our team
                .section-body
                    p We&nbsp;are a&nbsp;small team of&nbsp;designers and developers, who help brands with big ideas.
                .row.team-members
                    .col-xs-12.col-sm-6.col-md-3.team-member
                        img.photo(src="img/team_1.jpg" width="200" height="200")
                        .name James Collins
                        .position CEO / Marketing Guru
                        .info Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut&nbsp;laoreet dolore magna.
                        ul.contacts
                            li.contact
                                a.link.link-facebook(href="#")
                            li.contact
                                a.link.link-twitter(href="#")
                            li.contact
                                a.link.link-linkedin(href="#")
                            li.contact
                                a.link.link-mail(href="mailto:#")
                    .col-xs-12.col-sm-6.col-md-3.team-member
                        img.photo(src="img/team_2.jpg" width="200" height="200")
                        .name Peter Davis
                        .position Creative Director
                        .info Duis aute irure dolor in&nbsp;in&nbsp;voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat non diam proident.
                        ul.contacts
                            li.contact
                                a.link.link-twitter(href="#")
                            li.contact
                                a.link.link-linkedin(href="#")
                            li.contact
                                a.link.link-mail(href="mailto:#")
                    .col-xs-12.col-sm-6.col-md-3.team-member
                        img.photo(src="img/team_3.jpg" width="200" height="200")
                        .name Olivia Wilde
                        .position Lead Designer
                        .info Nemo enim ipsam voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
                        ul.contacts
                            li.contact
                                a.link.link-facebook(href="#")
                            li.contact
                                a.link.link-twitter(href="#")
                            li.contact
                                a.link.link-linkedin(href="#")
                            li.contact
                                a.link.link-mail(href="mailto:#")
                    .col-xs-12.col-sm-6.col-md-3.team-member
                        img.photo(src="img/team_4.jpg" width="200" height="200")
                        .name Ashley Greene
                        .position SEO / Developer
                        .info Sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                        ul.contacts
                            li.contact
                                a.link.link-facebook(href="#")
                            li.contact
                                a.link.link-twitter(href="#")
                            li.contact
                                a.link.link-mail(href="mailto:#")
        section.section-skills
            .container
                h2.section-heading We&nbsp;got skills!
                .section-body
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod<br> tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua.
                .row.skills
                    .col-xs-12.col-sm-6.col-md-3.skill
                        .percents
                            img(src="img/skills_1.png" width="160" height="160" alt="Web Design Skill 90%")
                            .value 90
                        .name Web Design
                    .col-xs-12.col-sm-6.col-md-3.skill
                        .percents
                            img(src="img/skills_2.png" width="160" height="160" alt="Web Design Skill 75%")
                            .value 75
                        .name HTML / CSS
                    .col-xs-12.col-sm-6.col-md-3.skill
                        .percents
                            img(src="img/skills_3.png" width="160" height="160" alt="Web Design Skill 70%")
                            .value 70
                        .name Graphic Design
                    .col-xs-12.col-sm-6.col-md-3.skill
                        .percents
                            img(src="img/skills_4.png" width="160" height="160" alt="Web Design Skill 85%")
                            .value 85
                        .name UI / UX
        section.section-portfolio
            .container
                h2.section-heading Our portfolio
                .section-body
                    p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet<br> consectetur, adipisci velit, sed quia non numquam
                    ul.portfolio-tabs
                        li.tab.tab-active All
                        li.tab Web
                        li.tab Apps
                        li.tab Icons
            .row.portfolio-entries
                .col-xs-12.col-sm-6.col-md-4.entry
                    .bg(style="background-image: url('img/portfolio_1.jpg')")
                    .title
                        span.text Some<br> text for<br> an&nbsp;item
                .col-xs-12.col-sm-6.col-md-4.entry
                    .bg(style="background-image: url('img/portfolio_2.jpg')")
                    .title
                        span.text Some<br> text for<br> an&nbsp;item
                .col-xs-12.col-sm-6.col-md-4.entry
                    .bg(style="background-image: url('img/portfolio_3.jpg')")
                    .title
                        span.text Some<br> text for<br> an&nbsp;item
                .col-xs-12.col-sm-6.col-md-4.entry
                    .bg(style="background-image: url('img/portfolio_4.jpg')")
                    .title
                        span.text Some<br> text for<br> an&nbsp;item
                .col-xs-12.col-sm-6.col-md-4.entry
                    .bg(style="background-image: url('img/portfolio_5.jpg')")
                    .title
                        span.text Some<br> text for<br> an&nbsp;item
                .col-xs-12.col-sm-6.col-md-4.entry
                    .bg(style="background-image: url('img/portfolio_6.jpg')")
                    .title
                        span.text Some<br> text for<br> an&nbsp;item
        section.section-feedback
            .container
                h2.section-heading What people say about&nbsp;us
                .section-body
                    p Our clients love&nbsp;us!
                .row.feedback-entries
                    .col-xs-12.col-sm-12.col-md-6.entry
                        .row
                            .col-xs-6.col-sm-4.col-md-3
                                img.img-responsive.photo(src="img/feedback_1.jpg" width="96" height="96" alt="Chanel Iman")
                            .col-xs-6.col-sm-8.col-md-9
                                .text
                                    p Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu&nbsp;nisl scelerisque.
                                .name Chanel Iman
                                .position CEO of Pinterest
                    .col-xs-12.col-sm-12.col-md-6.entry
                        .row
                            .col-xs-6.col-sm-4.col-md-3
                                img.img-responsive.photo(src="img/feedback_2.jpg" width="96" height="96" alt="Brooklyn Jones")
                            .col-xs-6.col-sm-8.col-md-9
                                .text
                                    p Vivamus luctus urna sed urna ultricies ac&nbsp;tempor dui sagittis. In&nbsp;condimentum facilisis porta.
                                .name Brooklyn Jones
                                .position Founder of Instagram
                    .col-xs-12.col-sm-12.col-md-6.entry
                        .row
                            .col-xs-6.col-sm-4.col-md-3
                                img.img-responsive.photo(src="img/feedback_3.jpg" width="96" height="96" alt="Donald Roberts")
                            .col-xs-6.col-sm-8.col-md-9
                                .text
                                    p Vivamus luctus urna sed urna ultricies ac&nbsp;tempor dui sagittis. In&nbsp;condimentum facilisis porta.
                                .name Donald Roberts
                                .position Lead Designer at Behance

                    .col-xs-12.col-sm-12.col-md-6.entry
                        .row
                            .col-xs-6.col-sm-4.col-md-3
                                img.img-responsive.photo(src="img/feedback_4.jpg" width="96" height="96" alt="Joe Ward")
                            .col-xs-6.col-sm-8.col-md-9
                                .text
                                    p Phasellus non purus vel arcu tempor commodo. Fusce semper, purus vel luctus molestie, risus sem cursus neque.
                                .name Joe Ward
                                .position Co-Founder of Shazam
        section.section-contacts
            .container
                h2.section-heading Get in touch
                .section-body
                    p 1600 Pennsylvania Ave NW, Washington, DC&nbsp;20500, United States of&nbsp;America. Tel: (202) 456-1111
                form.contact-form
                    //.col-xs-offset-1.col-sm-offset-1.col-md-offset-1.col-xs-10.col-sm-10.col-md-10
                    .row.form-group
                        .col-xs-12.col-sm-12.col-md-6
                            label.sr-only(for="your-name") Your Name
                            input#your-name.form-control(type="text", name="yourName" placeholder="Your Name")
                        .col-xs-12.col-sm-12.col-md-6
                            label.sr-only(for="your-email") Your E-mail
                            input#your-email.form-control(type="text", name="yourEmail", placeholder="Your E-mail")
                    .form-group
                        textarea.form-control.form-textarea(rows="6", placeholder="Your Message")
                    .form-group.form-footer
                        input.send-button(type="submit", value="Send message")
        footer.site-footer
            .container
                .follow-us
                    |Follow&nbsp;Us
                    ul.social-links-list
                        li.list-item
                            a.list-link.list-link-github(href="#")
                        li.list-item
                            a.list-link.list-link-twitter(href="#")
                        li.list-item
                            a.list-link.list-link-dribble(href="#")
                        li.list-item
                            a.list-link.list-link-facebook(href="#")
                        li.list-item
                            a.list-link.list-link-instagram(href="#")

        //--- jQuery ---//
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script try { jQuery.jquery; } catch(e) { document.write('<script src="js/lib/jquery-2.1.4/jquery.min.js"><\/script>') }
        //script(src='js/lib/jquery-2.1.4/jquery.min.js')

        //--- Bootstrap JS ---//
        script(src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js')
        script try { jQuery.fn.modal; } catch (e) { document.write('<script src="js/lib/bootstrap-3.3.5/bootstrap.min.js"><\/script>') }
        //script(src='js/lib/bootstrap-3.3.5/bootstrap.min.js')

        script(src='js/script.min.js')