//--- Basic ---//
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: #fff;
  color: #383838;
  font-family: $raleway-family;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

//--- Main Layout ---//
//.container-inner {
//  margin: 0 auto;
//  padding: 0 20px;
//  position: relative;
//  width: 1100px;
//}

//--- Blocks ---//
.section-heading {
  font-family: $oxygen-family;
  font-size: 38px;
  font-weight: 300;
  letter-spacing: .1em;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  &:after {
    background-color: #000;
    bottom: -4px;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    margin-left: -43px;
    opacity: .3;
    position: absolute;
    width: 86px;
  }
}

.section-body {
  letter-spacing: .05em;
  margin-top: 35px;
  text-align: center;
}

//--- Forms ---//
.form-control {
  background: #ffffff;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
  letter-spacing: .05em;
  height: 54px;
  line-height: 18px;
  padding: 18px 24px;
  width: 100%;

  &:focus {
    border-color: #383838;
    outline: none;
  }

  &::placeholder {
    color: #9b9b9b;
    text-overflow: ellipsis;
  }
}

.form-textarea {
  height: auto;
  line-height: 25px;
  resize: none;
}

.form-control {
  &:focus {
    box-shadow: none;
  }
  .has-error & {
    border-color: #f57a82;
    border-width: 2px;
    box-shadow: none;

    &:focus {
      border-color: #c66365;
      box-shadow: none;
    }
  }

  .has-success & {
    border-color: #74f580;
    border-width: 2px;
    box-shadow: none;

    &:focus {
      border-color: #57ae57;
      box-shadow: none;
    }
  }
}

.has-error .help-block {
  color: #ed5276;
  font-size: 12px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}